* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

.container {
    max-width: 1360px;
    margin: 0 auto;
}

button {
    cursor: pointer;
    background-color: #4A8B60;
    color: white;
    padding: 12px 16px 12px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.3s;
    border: none;
}

button:hover {
    background-color: #134423;
}

#header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    transition: color 0.3s;
    font-size: 16px;
}

nav ul li a:hover {
    color: #4A8B60;
}

#hero {
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 100px 20px;
    height: 674px;
}

.badge-container {
    display: inline-flex;
    align-items: center;
    background: #FFFFFF;
    padding: 6px 16px;
    border-radius: 30px;
    gap: 10px;
}

.dot-outer {
    width: 20px;
    height: 20px;
    background-color: rgba(106, 180, 131, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot-middle {
    width: 14px;
    height: 14px;
    background-color: rgba(80, 147, 102, 0.4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot-inner {
    width: 7px;
    height: 7px;
    background-color: #30b830;
    border-radius: 50%;
}

.badge-text {
    color: #30b830;
    font-size: 14px;
    font-weight: 500;
}

#hero h1 {
    font-size: 72px;
    line-height: 84px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 16px;
}

.green-text {
    color: #30B868;
}

#hero p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.hero-btns {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.btn-primary {
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-secondary {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.btn-secondary i {
    font-size: 18px;
}

.btn-secondary:hover {
    background-color: white;
    color: #4A8B60;

}

#notes {
    text-align: center;
    padding: 30px 20px;
}

.note-header {
    margin-bottom: 44px;
}

#notes h2 {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

#notes p {
    color: #627382;
    font-size: 16px;
    font-weight: 400;
}

.note-card {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.note-card-item {
    width: 23.68%;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    border: 2px solid transparent; 
    transition: all 0.3s ease;
}

.note-card-item:hover {
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
    border-color: #4A8B60; 
}

.note-card-item img {
    background-color: #F95555;
    padding: 15px 16px 15px 16px;
    border-radius: 50%;
}

#solution {
    padding: 120px 0px;
}

.solution-container {
    display: flex;
    gap: 60px;
    align-items: center;
}

.solution-header1 p {
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}

.solution-header1 h2 {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 24px;
}

.solution-description p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 40px;
}

.solution-content ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 32px;
}

.solution-content ul li {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #001931;
    margin-bottom: 16px;
}

.solution-content ul li::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('/assets/CheckCircle.png');
    background-size: contain;
    background-repeat: no-repeat;
    flex-shrink: 0;
}