* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
}

button {
    cursor: pointer;
    background-color: #4A8B60;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.3s;
    border: none;
}

button:hover {
    background-color: #134423;
}

#header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    transition: color 0.3s;
    font-size: 16px;
}
nav ul li a:hover {
    color: #4A8B60;
}